<div class="analysecode">

	<div class="container">

		<div class="form" align="center"><br>

			<%if current_user %>
				<%= form_for :project do |p| %> 
				  <%= p.url_field :link, :placeholder => "GitHub link of project" %> 
				  <%= p.submit "Submit project", class: "btn-submit" %>
				<% end %>
			<%end%>
		
    </div>
	</div>
</div>
