<html>
  <body>
     <div class="row">
        <div class="large-12 columns">
          <h5> <%= link_to 'Login', "/login" %> </h5>
          <h1>Kuniri</h1>
          <h2><%= link_to 'Home', "/kuniri" %>
              |
              <%= link_to 'Contact Us', "/contact" %>
              |
              <%= link_to 'Team', "/team" %>
          </h2>
        </div>
      </div>
      
      <div class="row">
        <div class="large-8 columns">
          <h3>About Kuniri...</h3>
          <h4>Briefely, the main object of Kuniri is: parse any kind of language to a common model file. Initialily, the main objective of Kuniri was providing a way to dynamically generate diagrams and traceability based on code. However the parse proved much more useful for many other kind of application, because of this the focus changed to create the parse.</h4>

          <h4>Kuniri will inspect the source code, extract information to generate diagrams and provide the traceability. This file is similar to XML file, and follows a strong pattern. This feature gives flexibility for other tools read the file and process anything they want.</h4>

          <h4>Additionally, Kuniri was designed to grow to three main directions: support for different languages, provide ways to monitoring the source, and provide options of extract the information. </h4>

      </div>

      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright 2015. Kuniri.</p>
            </div>
          </div>
        </div> 
      </footer>
  </body>
</html>
