      <div class = "row">
        <div class="large-12 columns">
          <h2>
            Lais
            <p>e-mail:lais_barreto92@hotmail.com</p>
            <%= link_to 'GitHub_Profile', "https://github.com/laisbarreto" %>

          </h2>
          <h2>
            Rodrigo
            <p>e-mail:rodrigomelosiqueira@gmail.com</p>
            <%= link_to 'GitHub_Profile', "https://github.com/rodrigosiqueira" %>
          </h2>
          <h2>
            Victor
            <p>e-mail:cotrim149@gmail.com</p>
            <%= link_to 'GitHub_Profile', "https://github.com/cotrim149" %>
          </h2>

        </div>
      </div>