        <div>
          <h5>
            <h3 align="center">
              <b>Lais</b><br>
              lais_barreto92@hotmail.com<br>
              <%= link_to 'GitHub_Profile', "https://github.com/laisbarreto" %>
            </h3>
          </h5>
          <h5>
            <h3 align="center">
              <b>Rodrigo</b><br>
              rodrigomelosiqueira@gmail.com<br>
              <%= link_to 'GitHub_Profile', "https://github.com/rodrigosiqueira" %>
            </h3>
          </h5>
          <h5>
            <h3 align="center">
              <b>Victor</b><br>
              cotrim149@gmail.com<br>
              <%= link_to 'GitHub_Profile', "https://github.com/cotrim149" %>
            </h3>
          </h5>

        </div>
