html, body {
  margin: 0;
  padding: 0;
  background: url("");
  color: #656767;
  font-family: Times New Roman, serif;
  font-size: 10pt;
}

div.row {
  padding: 0.1px;
  margin: 0;
  background: url("http://www.twitterevolutions.com/bgs/lights-twitter-background.jpg") top center;
}

div.confirm {
  padding: 50px;
  font-size: 120%;
  text-align: center;
}

a {
  background: transparent;
  color: #15575F;
  font-weight: bold;
  text-align: center;
}
h1 {
  background-color: transparent;
  color: #15575F;
  font-size: 500%;
  text-decoration: blink;
  font-style: normal;
  text-align: center;
}
h2 {
  padding: 10px;
  margin: 0 -10px;
  background-color: #15575F;
  font-size: 100%;
  font-style: normal;
  text-align: center;
}
h3 {
  text-align: center;
  font-style: italic;
}
h4 {
  text-align: justify;
  margin-right: 10em;
  margin-left: 10em;
}
h5 {
  font-size: 120%;
  font-style: normal;
  text-align: right;
  color: #15575F;
  margin-right: 2em;

}
h1.title {
  text-decoration: blink;
  margin: 0 0 1em;
  padding: 5px;
  text-indent:0;
  color: white;
  font-size: 500%;
  font-style: normal;
}

div.form {
  text-align: center;
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
  padding: 30px;
}
footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:50px;
  width:100%;
  text-align: center;
}

.barNav a {
font: 16px Times New Roman, Verdana,Helvetica,sans-serif;
color: #FFFFFF;
text-decoration: none;
background: #15575F;
text-align: center;
padding: 1px 5px;
margin-right: -1px;
border: 0px solid #000000;
}
 
 
.barNav a:hover {
color: #666666;
background: #FCFCFC;
border: 1px solid #666666;
}
